@font-face {
  font-family: "font_thin";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Thin-BF64b60bd69edfe.otf);
}
@font-face {
  font-family: "font_light";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Light-BF64b60bd6cff80.otf);
}
@font-face {
  font-family: "font_regular";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Regular-BF64b60bd6980ca.otf);
}
@font-face {
  font-family: "font_medium";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Medium-BF64b60bd692af5.otf);
}
@font-face {
  font-family: "font_bold";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Bold-BF64b60bd69b69d.otf);
}

@import "tailwindcss";

* {
  user-select: none;
  scroll-behavior: smooth;
}
@media (min-width: 1024px) {
  :root {
    font-size: 1vw;
  }
}
body {
  overflow-x: hidden;
  width: 100%;
  color: #0e1111;
  background-color: #fffaf0;
}

.font_regular {
  font-family: font_regular !important;
}
p,
span,
input,
textarea,
button,
label {
  font-family: font_regular;
}
.font-bold,
h1 {
  font-family: font_bold !important;
}
.font-medium,
h2 {
  font-family: font_medium !important;
}
.font-light,
h5 {
  font-family: font_light !important;
}
h6,
.font-thin {
  font-family: font_thin !important;
}
.custom_scroller::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.388);
  height: 3px;
  cursor: pointer;
}
.custom_scroller::-webkit-scrollbar-thumb {
  background-color: #0e1111;
  border-radius: 10px;
  cursor: pointer;
}
.custom_scrollbar::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.247);
  width: 4px;
  cursor: pointer;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #0e111179;
  border-radius: 10px;
  cursor: pointer;
}

.scroller_none::-webkit-scrollbar {
  display: none;
}
[data-lenis-prevent] {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.fixy1 {
  transform: translateY(1px);
}
.fixy1_5 {
  transform: translateY(1.5px);
}
.black {
  background-color: #0e1111;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* default Swiper pagination styling override */
.swiper_elem_2 .swiper-pagination {
  bottom: 0px !important; /* push a bit up from bottom */
  left: 50% !important;
  transform: translateX(-50%) !important;
  text-align: center !important;
}

.swiper_elem_2 .swiper-pagination-bullet {
  background: #000 !important; /* black bullets */
  opacity: 0.2;
}

.swiper_elem_2 .swiper-pagination-bullet-active {
  background: #000 !important; /* active bullet */
  opacity: 1;
}

.swiper-button-next {
  opacity: 0 !important;
}
.swiper-button-prev {
  opacity: 0 !important;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* toastify */ /* toastify */ /* toastify */ /* toastify */
:root {
  --toastify-color-light: #fffaf0;
  --toastify-color-dark: #0e1111;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: hsl(6, 78%, 57%);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-container-width: fit-content;
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-top)
  );
  --toastify-toast-right: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-right)
  );
  --toastify-toast-left: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-left)
  );
  --toastify-toast-bottom: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-bottom)
  );
  --toastify-toast-background: #fffaf0;
  --toastify-toast-padding: 14px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 6px;
  --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --toastify-font-family: font_regular;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fffaf0;
  --toastify-text-color-info: #fffaf0;
  --toastify-text-color-success: #fffaf0;
  --toastify-text-color-warning: #fffaf0;
  --toastify-text-color-error: #fffaf0;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #fffaf0;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-progress-bgo: 0.2;
}
